#cost {
  font-weight: 300;
  z-index: 100;
  position: fixed;
  top: 3px;
  color: white;
  opacity: 0.95;
  background: white;
  display: block;
  color: black;
  padding: 5px;
  top: 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}
@media (max-width: 1100px) {
  #cost { left: 52%; }
  #cost .detail { display: none; }
}
@media (min-width: 1100px) {
  #cost { left: 43%; }
  #cost .detail { display: inline; }
}
#mpg { cursor: pointer; }
